/*Navbar Landing page*/
.navbar-brand{
	font-family: Viga;
	font-size: 32px
}
.nav-link{
	margin-right: 30px; 
}

.tombol{
	border-radius: 40px
}
/*Jumbotron Landing page*/
.jumbotron{
	background-image: url(./Assets/wallpaperflare.com_wallpaper.jpg);
	background-size: cover;
	height: 650px;
}
/*Jumbotron Resume*/
.jumbotron2{
	background-image: url(./Assets/2.jpg);
	background-size: cover;
	height: 500px;
}
/*Navbar Resume*/
.navbar-brand2{
	font-family: Viga;
	font-size: 32px;
}
.nav-link2{
	margin-right: 30px; 
}
/*Versi Desktop*/
@media (min-width: 992px) {
	.navbar-brand, .nav-link{
		color: white !important;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0,8);
	}
	.nav-link{
		margin-right: 30px; 
	}
	.nav-link:hover{
		border-bottom: 3px solid #0B63DC;
	}
	.jumbotron{
		margin-top: -75px;


		/*Untuk Resume*/
	}
	.jumbotron2{
		margin-top: -75px;
	}
	.navbar-brand2, .nav-link2{
		color: white !important;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0,8);
	}
	.nav-link2:hover{
		border-bottom: 3px solid #0B63DC;
	}
	.nav-link2{
		margin-right: 30px; 
	}
}